.DS_Store
build
tmp
*.tmp
~*
*~
*.xcuserdatad
xcshareddata
*.user
*.ncb
*.suo
*.usr
Debug
Debug Static
Release
Release Static
*.scc
cscope.files
cscope.out
*.class
*.o
*.o.*
_*
!__init*
\#*
.#*
.svn
.cvs
*.pyc
*.dmp
*.sdf
*.opensdf
ipch
*.err
*.log
*.wrn
objchk_*
objfre_*
@
*.cmd
.tmp*
*.symvers
*.order
*.mod.c
.ropeproject
.AppleDouble
.metadata
.plugins
obj
bin
libs
gen
.gradle
*.pdsync
*.pdsyncu
