.DS_Store
build
tmp
*.tmp
~*
*~
*.xcuserdatad
*.user
*.ncb
*.suo
*.usr
Debug
Debug Static
Release
Release Static
*.scc
cscope.files
cscope.out
project.properties
*.class
*.o
_*
#*
.#*
.svn
.cvs
*.pyc
*.dmp
*.sdf
*.opensdf
ipch
*.err
*.log
*.wrn
objchk_*
