.ipad_tb_02{border-collapse:collapse;background-color:#d8e1f2;width:100%}
.ipad_tb_01{border:1px #c2c2c2 solid;padding:5px;font:bold 14px;color:#515c70;text-align:center;background-color:#d8e1f2}
.ipad_tb_04{border:1px #c2c2c2 solid;padding:5px;font:bold 14px;text-align:center;background:url(VHtmlTable_bg.gif) 0 0 repeat;color:#FFF}
